@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primaryFont: "Inter";
$h-font-size-phone: "32px";
@media only screen and (max-width: 428px) {
  .wrapper {
    display: none;
  }
  body {
    font-family: $primaryFont, sans-serif;
    .page-main {
      display: flex;
      margin-top: 50px;
      flex-direction: column;
      justify-content: center;
      background: gray;
      width: 100%;
      .intro {
        display: flex;
        justify-content: center;
        width: 100%;
        background: yellowgreen;
        height: 516px;
        &__image {
          display: none;
        }
        &__header {
          background: yellow;
          display: flex;
          flex-direction: column;
          margin: 10px;
          width: 80%;
          &__greetings {
            font-size: 20px;
            margin-top: 0;
            display: flex;
          }
          &__message {
            font-size: 64px;
            display: flex;
          }
        }
      }
      .about {
        background: khaki;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        &__title {
          background: tomato;
          order: 1;
          font-size: 32px;
        }
        &__photo {
          order: 2;
          display: block;
          width: 300px;
          margin-bottom: 25px;
        }
        &__text {
          order: 3;
          font-size: 18px;
          font-weight: 200;
          line-height: 180%;
          width: 368px;
          background: yellow;
        }
      }
      .skills {
        background: rgb(225, 158, 158);
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__banner {
          display: flex;
          flex-direction: column;
          background: salmon;
          align-items: center;
          width: 332px;
          &__title {
            background-color: greenyellow;
            font-size: 32px;
          }
          &__text {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
          }
        }
        &__stage {
          background-color: wheat;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 0px;
          width: 336px;
          height: 420px;
          margin-top: 25px;
          &__item {
            font-size: 16px;
            background: mediumspringgreen;
            display: flex;
            width: 112px;
            height: 140px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
          }
        }
      }
      .projects {
        background: saddlebrown;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
          font-size: 32px;
          background-color: gray;
        }
        &__cards {
          background-color: rgb(43, 68, 40);
          display: flex;
          flex-direction: column;
          align-items: center;
          &__card {
            background: rgb(143, 250, 158);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 64px;
            &__frame {
              background: yellowgreen;
              width: 373px;
              display: flex;
              flex-direction: column;
              justify-content: end;
              align-items: center;
              &__photo {
                border: 1px solid red;
                width: 90%;
                display: block;
                margin-top: 80px;
              }
            }
            &__tech {
              margin-top: 40px;
              background: pink;
              align-self: start;
              margin-left: 20px;
              font-size: 16px;
            }
            &__title {
              font-size: 38px;
              font-weight: 600;
              align-self: start;
              margin-left: 20px;
              margin-top: 0px;
              background: lightsalmon;
            }
            &__description {
              align-self: start;
              background-color: darkorange;
              width: 90%;
              margin-left: 20px;
              margin-top: -5px;
              padding-right: 10px;
              font-size: 18px;
              line-height: 160%;
            }
            &__links {
              width: 275px;
              display: flex;
              background-color: yellow;
              align-self: start;
              margin-left: 20px;
              &__btn {
                font-size: 16px;
                font-weight: 600;
                border: 1px solid black;
                background: #ffffff;

                height: 42px;
                border-radius: 8px;
                margin-right: 20px;
                padding: 10px;
                span {
                  font-weight: 200;
                }
              }
            }
          }
        }
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      background: violet;
      height: 216px;
      justify-content: space-evenly;
      align-items: center;
      .socials-links {
        background-color: aqua;
        width: 157px;
        display: flex;
        align-self: center;
        justify-content: space-between;
        img {
          border-radius: 50%;
        }
      }
      a:link {
        text-decoration: none;
        color: white;
        background-color: beige;
        font-size: 18px;
      }
      a:visited {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 429px) and (max-width: 1728px) {
}
